<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/rpg.css">
    <title>Document</title>
</head>
<body>
    <section id="folha">
        <div id="info">    
            <div id="playerInfo">
                <h3>Nome: Amélia Romã - 00966622</h3>
                <h3>Idade: Cinquenta e dois anos</h3>
                <h3>Ocupação: Detetive particular</h3>
                <h3>Residencia: Rio de janeiro - BR</h3>
                <h3>Local Nasc: Guarapari - BR</h3>
                <h3>Motivação: Sobrevivencia</h3>
                <h3>Signo: Libra</h3>
                <h3>MBTI: jeep compass</h3>
            </div>
            <img src="/imagens/vea.jpg" id="playerImage">
        </div> 
        <div>
            <table id="data-table">           
                    <h2 id="habilities">HABILIDADES</h2>         
                <thead>
                    <tr>
                        <th>
                            Acadêmicas
                        </th>

                        <th>
                            Tecnicas
                        </th>

                        <th>
                            Interpessoais
                        </th>

                        <th>
                            gerais
                        </th>
                    </tr>
                </thead>

                <tbody id="bodyoftable">
                    <tr>
                        <th>
                            Arqueologia
                        </th>

                        <th>
                            Ciência Forense
                        </th>

                        <th>
                            Avaliar Honestidade
                        </th>

                        <th>
                            Atletismo
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Arqueologia
                        </th>

                        <th>
                            Ciência Forense
                        </th>

                        <th>
                            Avaliar Honestidade
                        </th>

                        <th>
                            Atletismo
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Arqueologia
                        </th>

                        <th>
                            Ciência Forense
                        </th>

                        <th>
                            Avaliar Honestidade
                        </th>

                        <th>
                            Atletismo
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="section">
            <section id="card-status">
                    <div>
                        <h2 id="status">Status</h2>
                    </div>
                    <div id="vida">
                        <h3>vida: 15/15</h3>
                    </div>
                    <div id="sanidade">
                        <h3>sanidade: 65/65</h3>
                    </div>
            </section>
        </div>
    <main>

    </main>
    </section>
</body>
</html>