/*ESSE CSS ESTÁ ASSOMBRADO! NÃO CODE AQUI*/

.inf{
    width: 960px;    
    margin-left: 30px;
    margin-top: 5px;
}
.stats{
    background: linear-gradient(140deg, #b3a3ba 20%, rgba(141,118,154,1) 50%);
    border: 3px rgb(80, 75, 75) solid;
    border-radius: 5px;
}

.avatar{
    display: block;
    width: 51%;
    border: 3px gray solid;
    border-radius: 5px;
}