
#playerInfo {
    background-color: rgb(192, 197, 202);
    width: 70%;
    float: left;
    border: 3px rgb(80, 75, 75) solid;

}

h3{
    margin-left: 1rem;
    opacity: 1;
}

#playerImage {
    margin-top: -0.1rem;
    width: 16.3rem;
}

#folha{
    margin: 20rem;
    
}
/* TABELA */
#data-table{
    margin-top: -1.7rem;
    width: 85.5%;
    border-spacing: 0 0.5rem;
    opacity: 0.8;

}

table thead {
    height: 3.5rem;
    background-color: rgb(155, 152, 152);
    border: 3px rgb(80, 75, 75) solid;
}


#bodyoftable {
    background-color: rgb(160, 160, 160);
    height: 6rem;
}

#habilities{
    margin-top: -0.5rem;
    padding-top: 3rem;
    height: 5rem;
    text-align: center;
    width: 85.2%;
    background-color: rgb(114, 111, 111);
    opacity: 0.8;
    border: 3px rgb(80, 75, 75) solid;
}
 
/* Status */
#section{
    display:flex;
}

#vida {
    text-align: center;
    border: 3px rgb(80, 75, 75) solid;
    background-color: rgb(160, 25, 25);
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
    height: 20%;
}

#vidaS {
    margin-top: -0.0001rem;
}

#sanidadeS{
    margin-top: -0.0001rem;
}

#sanidade {
    text-align: center;
    
    border: 3px rgb(80, 75, 75) solid;
    background-color: rgb(24, 24, 177);
    color: white;
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    height: 20%;
}

#status{
    border: 3px rgb(80, 75, 75) solid;
    background-color: gray;
    margin-top: -1rem;
    padding-left: 8rem ;
    padding-right: 8rem ;
}

#card-status{
    background-color: rgb(192, 185, 185);
    margin-top: 2rem;
}

